
html{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

body {
  margin:0;
}
h1{
  margin-top: 50px;
  font-family: 'Indie Flower', cursive;
}

h2{
  font-family: 'Annie Use Your Telescope', cursive;
}

hr{
  border: 1px solid black;
  margin: 0;
}




.Top {
  background-color: #feffde;
  position:relative;
  padding-top: 50px;
}

.Middle {
  background-color: #ddffbc;
}

.Bottom{
  background-color: #91c788;
}

.ModPageLink{
  color: black;
  text-decoration: none;
}

.ModHeader{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ModImage{
    width: 597px;
}

.FooterLink{
  display:inline-block;
  padding:10px;
}

#topcloud{
  position:relative;
  top:20px;
  left:200px;
}

#bottomcloud {
  position:absolute;
  top:250px;
}

#mountain {
position:relative;
top:4px;
}


#top-middlehr{
  margin-top:0;
}

#copyright{
  margin-bottom:0;
  padding-bottom:15px;
}
